{% extends "base.html" %}

{% block content %}

    <h3>Job Board</h3>

    <a href="{% url 'Add Job' %}" class="btn-add-job">
        <button>Add</button>
    </a>

    <ul class="job-listings">
        {% for job in jobListings %}
            <li>
                <a href="{% url 'Job Details' job.id %}">
                    <div class="job-listing">
                        <p class="row-item-1">{{ job.title }}</p>
                        <p class="row-item-2">{{ job.companyName }}</p>
                        <p class="row-item-4">{{ job.location }}</p>
                        <p class="row-item-5">{{ job.applicationDeadline }}</p>
                        <p class="row-item-3">{{ job.description }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}