{% extends "base.html" %}

{% block content %}

    <h3>Job Board</h3>

    <a href="{% url 'Add Job' %}" class="btn-add-job">
        <button>Add</button>
    </a>

    <div class="job-headers">
        <p class="job-header-1">Title</p>
        <p class="job-header-2">Company</p>
        <p class="job-header-3">Location</p>
        <p class="job-header-4">Deadline</p>
        <p class="job-header-5">Description</p>
    </div>

    <ul class="job-listings">
        {% for job in jobListings %}
            <li>
                <div class="job-listing">
                    <div class="btn-controls-container">
                        <a href="{% url 'Job Details' job.id %}"  class="btn-view-job">
                            <button>View</button>
                        </a>
                        <a href="{% url 'Edit Job' job.id %}" class="btn-edit-job">
                            <button>Edit</button>
                        </a>
                    </div>

                    <p class="row-item-1">{{ job.title }}</p>
                    <p class="row-item-2">{{ job.companyName }}</p>
                    <p class="row-item-3">{{ job.location }}</p>
                    <p class="row-item-4">{{ job.applicationDeadline }}</p>
                    <p class="row-item-5">{{ job.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}