body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 3rem;
}

/* index.html */

.btn-add-job {
    align-self: flex-end;
}

.btn-add-job > button {
    border: none;
    border-radius: .5rem;
    background-color: rgb(219, 219, 219);
    padding: .2rem 1rem;
}

.job-listings {
    list-style-type: none;
    margin-top: .5rem !important;
    border-top: solid .05rem gray;
    padding: 0rem;
    width: 100%;
}

.job-listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0rem;
    border-bottom: solid .05rem gray;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

a > div > p {
    color: black;
}

.row-item-1 {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0rem;
    margin-right: 1rem;
}

.row-item-2 {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0rem;
    margin-right: 1rem;
}

.row-item-3 {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0rem;
    margin-right: 1rem;
}

.row-item-4 {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0rem;
    margin-right: 1rem;
}

.row-item-5 {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0rem;
    margin-right: 1rem;
}


/* jobListing.html */

.job-listing-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-job > p {
    /* display: flex;
    justify-content: center; */
    color: red;
}

.test-text {
    color: red !important;
    text-align: center;
}

/* addJobForm.html */

.add-job-form-inputs {
    display: flex;
    flex-direction: column;
}

label {
    color: red !important;
}